# Mars Weather

In [58]:
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd
from splinter import Browser

In [59]:
browser = Browser("chrome")

#### Step 1: Visit the Website

In [60]:
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

#### Step 2: Scrape the Table

In [61]:
soup = BeautifulSoup(browser.html, "html.parser")

In [62]:
header = [entry.text for entry in soup.find("table", {"class":"table"}).find("tr").find_all("th")]
rows = soup.find("table", {"class":"table"}).find_all("tr", {"class":"data-row"})

#### Step 3: Store the Data

In [63]:
data = []

In [64]:
for row in rows:
    data.append([entry.text for entry in row.find_all("td")])

In [67]:
data_df = pd.DataFrame(data, columns=header)
data_df.head()

   id terrestrial_date sol   ls month min_temp pressure
0   2       2012-08-16  10  155     6    -75.0    739.0
1  13       2012-08-17  11  156     6    -76.0    740.0
2  24       2012-08-18  12  156     6    -76.0    741.0
3  35       2012-08-19  13  157     6    -74.0    732.0
4  46       2012-08-20  14  157     6    -74.0    740.0