# Mars Weather

In [1]:
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd
from splinter import Browser

In [2]:
browser = Browser("chrome")

#### Step 1: Visit the Website

In [3]:
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

#### Step 2: Scrape the Table

In [4]:
soup = BeautifulSoup(browser.html, "html.parser")

In [5]:
header = [entry.text for entry in soup.find("table", {"class":"table"}).find("tr").find_all("th")]
rows = soup.find("table", {"class":"table"}).find_all("tr", {"class":"data-row"})

#### Step 3: Store the Data

In [6]:
data = []

In [7]:
for row in rows:
    data.append([entry.text for entry in row.find_all("td")])

In [8]:
data_df = pd.DataFrame(data, columns=header)
data_df.head()

   id terrestrial_date sol   ls month min_temp pressure
0   2       2012-08-16  10  155     6    -75.0    739.0
1  13       2012-08-17  11  156     6    -76.0    740.0
2  24       2012-08-18  12  156     6    -76.0    741.0
3  35       2012-08-19  13  157     6    -74.0    732.0
4  46       2012-08-20  14  157     6    -74.0    740.0

#### Step 4: Prepare the Data

In [9]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1867 non-null   object
 1   terrestrial_date  1867 non-null   object
 2   sol               1867 non-null   object
 3   ls                1867 non-null   object
 4   month             1867 non-null   object
 5   min_temp          1867 non-null   object
 6   pressure          1867 non-null   object
dtypes: object(7)
memory usage: 102.2+ KB

In [10]:
data_df["terrestrial_date"] = pd.to_datetime(data_df["terrestrial_date"])
data_df["sol"] = data_df["sol"].astype(int)
data_df["ls"] = data_df["ls"].astype(int)
data_df["month"] = data_df["month"].astype(int)
data_df["min_temp"] = data_df["min_temp"].astype(float)
data_df["pressure"] = data_df["pressure"].astype(float)

In [11]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1867 non-null   object
 1   terrestrial_date  1867 non-null   datetime64[ns]
 2   sol               1867 non-null   int64
 3   ls                1867 non-null   int64
 4   month             1867 non-null   int64
 5   min_temp          1867 non-null   float64
 6   pressure          1867 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 102.2+ KB